@layer components{
    .header{
        font-family: 'Averia Serif Libre', cursive;
    }

    .subheader{
        font-family: 'Lalezar', cursive;
    }

    .quote{
        @apply text-2xl sm:text-4xl md:text-5xl lg:text-6xl;
    }
    .hand-writing{
        font-family: 'Courgette', cursive;
    }

    .paragraph{
        font-family: 'DM Serif Text', serif;
        @apply text-gray-500 
    }

    .image-border{
        color: rgb(0, 115, 153);
    }
    .image{
        background-image: url("../images/image1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:60%;
    }

    .list-item{
        @apply text-gray-600
    }

    .description{
        left: 5%;
    }

    .leftdescription{
        left: -5%;
    }

}

@tailwind base;
@tailwind components;
@tailwind utilities