@layer components{
    html {
        scroll-behavior: smooth;
      }
      
    body{
        box-sizing: border-box;
    }

    #navbar{
        opacity: 90%;
        box-shadow: 0 10px 30px -10px white;
        backdrop-filter: blur(10px);
    }

    .outro{
        background-color: #acb8ff;
    }

    .header{
        font-family: 'Averia Serif Libre', cursive;
    }

    .subheader{
        font-family: 'Lalezar', cursive;
    }

    .quote{
        @apply text-2xl sm:text-4xl md:text-5xl lg:text-6xl;
    }
    .hand-writing{
        font-family: 'Courgette', cursive;
    }

    .paragraph{
        font-family: 'DM Serif Text', serif;
    }

    .outro-text{
        font-family: 'Domine', serif;
    }
    .list-item{
        @apply text-gray-600
    }

    .description{
        left: 10%;
    }

    .leftdescription{
        left: -5%;
    }

    .scroll-animation{
        animation-duration: 1s;
        animation-delay: 1s;
        transition:top .5s linear;
        -webkit-transition:top .5s linear;
        -moz-transition:top .5s linear;
        -ms-transition:top .5s linear;
        -o-transition:top .5s linear;
    }
    .image-animation{

    }

    .image{
        background-image: url("../images/image1.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:60%;
    }

    .image-border{
        color: rgb(0, 115, 153);
    }

    .image-border-animation1{
        animation-duration: 1s;
        animation-delay: 1s;
        transition:.5s linear;
        -webkit-transition:.5s linear;
        -moz-transition:.5s linear;
        -ms-transition:.5s linear;
        -o-transition:.5s linear;
    }
    .image-border-animation2{
        animation-duration: 1s;
        animation-delay: 1s;
        transition:.5s linear;
        -webkit-transition:.5s linear;
        -moz-transition:.5s linear;
        -ms-transition:.5s linear;
        -o-transition:.5s linear;
    }

    .image-overlay{
        background-color: blue;
        position: absolute;
        z-index: 11;
        top:0;
        left:0;
        width:100%;
        height:100%;
        opacity: 0%;
        animation-duration: 1s;
        animation-delay: 1s;
        transition:.5s linear;
        -webkit-transition:.5s linear;
        -moz-transition:.5s linear;
        -ms-transition:.5s linear;
        -o-transition:.5s linear;
    }
    .image-overlay2{
        background-color: blue;
        position: absolute;
        z-index: 20;
        top:0;
        left:0%;
        width:100%;
        height:100%;
        opacity: 0%;
        animation-duration: 1s;
        animation-delay: 1s;
        transition:.5s linear;
        -webkit-transition:.5s linear;
        -moz-transition:.5s linear;
        -ms-transition:.5s linear;
        -o-transition:.5s linear;
    }
    .image-animation:hover .image-border-animation1{
        right: 0;
        top: 0;
    }
    .image-animation:hover .image-border-animation2{
        left: 0%;
        top: 0;
    }

    .image-animation:hover .image-overlay, .image-animation:hover .image-overlay2{
        opacity: 10%;
    }

    .left-1-5{
        left: 20%
    }

    .link-underline{
        @apply border-b-2 border-blue-200 border-dotted;
    }
    .link-underline-hover{
        @apply border-blue-600;
    }
    .link-animation{
        animation-duration: 1s;
        animation-delay: 1s;
        transition:.5s linear;
        -webkit-transition:.5s linear;
        -moz-transition:.5s linear;
        -ms-transition:.5s linear;
        -o-transition:.5s linear;
    }

    .bar1, .bar2, .bar3{
        width: 35px;
        height: 5px;
        background-color: lightblue;
        margin: 6px 0;
    }

    .change .bar1{
    }
    .change .bar2{
        width: 25px;
        height: 5px;
        background-color: lightblue;
        margin: 6px 0;
    }
    .change .bar3{
        width: 15px;
        height: 5px;
        background-color: lightblue;
        margin: 6px 0;
    }

    .nav-list-animation{
        animation-duration: 1s;
        animation-delay: 1s;
        transition:.5s linear;
        -webkit-transition:.5s linear;
        -moz-transition:.5s linear;
        -ms-transition:.5s linear;
        -o-transition:.5s linear;
    }

    .overlay-animation{
        animation-duration: 1s;
        animation-delay: 1s;
        transition:.5s linear;
        -webkit-transition:.5s linear;
        -moz-transition:.5s linear;
        -ms-transition:.5s linear;
        -o-transition:.5s linear;
    }

    .hide-nav{
        right:-50%;
    }
    .show-nav{
        right:0;
    }

    .pause{
        overflow:hidden;
    }

    #screen-overlay{
        height:100vh;
        width:100vh;
        position:fixed;
        top:0;
        left:0;
        background-color:gray;
        z-index:39;
    }
}

@tailwind base;
@tailwind components;

@tailwind utilities;